*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #111111;
}

/*-----Menu-----*/
.menu{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 0 20px;
}

.menu h3{
    font-size: 30px;
    color: #000000;
    background-image: linear-gradient(to right, dodgerblue, springgreen);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}

/*-----Busca-----*/
.busca{
    width: 40%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.busca input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #1a1a1a;
    padding: 0 10px;
    font-size: 15px;
}

.busca input::placeholder{
    color: #ffffff;
}

.busca button{
    padding: 10px 25px;
    border: none;
    background-color: dodgerblue;
    cursor: pointer;
    font-size: 15px;
}

/*-----Especial-----*/
.especial{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.card{
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
}

.card img{
    width: 100%;
    height: 50vh;
    background-color: white;
}

.card h2{
    font-weight: 400;
    margin-bottom: 5px;
}

.card p{
    text-align: justify;
    font-size: 17px;
    margin-bottom: 5px;
}

.card button{
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    background-color: dodgerblue;
    font-size: 15px;
    cursor: pointer;
}

/*-----Titulo-----*/
.titulo{
    width: 100%;
    padding: 15px 20px;
    color: #ffffff;
}

.titulo h1{
    font-weight: 400;
}

/*-----Wallpapers-----*/
.wallpapers{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wallpaper{
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    background-color: #000000;
}

.wallpaper img{
    width: 100%;
    height: 40vh;
}

.wallpaper button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: dodgerblue;
    font-size: 15px;
    cursor: pointer;
}

/*-----Barra-----*/
.barra{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px;
}

.barra span{
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #1a1a1a;
}

/*-----Redes-----*/
.redes{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1a1a1a;
}

/*-----Icone-----*/
.icone{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.icone i{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 50px;
    border-radius: 50px;
}

/*-----Links-----*/
.links{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.links a{
    color: #ffffff;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 20px;
}

.links a:hover{
    color: dodgerblue;
    text-decoration: underline;
}

/*-----Copyright-----*/
.copyright{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
}

.copyright h3{
    font-weight: 400;
}